div h1 {
    color: black;
}

.poto {
    display: flex;
    justify-items: center;
    gap: 20px;
}

.div poto {
    
}

    display: flex;
    justify-content: center;
    gap: 150px;
}
@media (max-width: 780px) {
    mian a {
        color: blue;
    }
}