body {
    padding: 0;
    margin: 0;
}

.nama {
    color: black;
}

.full-nama {
    font-size: larger;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    border-bottom: 5px solid black;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.nav-link {
    display: flex;
    gap: 30px;
}

.nav-link a {
    color: black;
    text-decoration: none;
}

.nav-link a:hover {
    color: blueviolet;
}

.perkenalan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
}

.button {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    color: black;
    border-radius: 30px;
    background-color: aqua;   
}

.button:hover {
    background-color: green;
}

.border-wrapper {
    padding: 40px; /*ini yang jadi "ketebalan" bordernya */
    border-radius: 20px;
    background: linear-gradient(270deg, #fff0, #fff0ff, #33ff00, #7700ff #ff0000, #ff9900);
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite;
}

.content-a {
    border-radius: 16px;
    background-color: white; /*warna isi kotak asli */
    padding: 20px;
} 

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.main {
    color: grey;
}

.konten {
    width: 20%;
    height: 10px;
}

.gambar-container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.gambar-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 60px;
}

