body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

nav a {
    display: block;
    margin-bottom: 10px;
}

section {
    margin: 30px;
}

aside {
    margin: 30px;
}

footer {
    text-align: center;
}